<h1>Create a message</h1>
<form action="/messages" method ="post">
  <label for="name">message Title:</label>
  <input type="text" name="body" placeholder="enter a message">
  <input type="text" name="user_to" placeholder="enter a user id">
  <textarea name="body" placeholder="Enter message body"></textarea>
  <input type="submit" value="Create" class="button">
</form>

<p><a href="/messages">Home</a></p>
